.header__logo {
  background-image: url('../../../images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 618px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin-bottom: 31px;
    margin-left: 27px;
  }
}
