.button {
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.6;
}
