.card__button-remove {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/basket.svg);
  width: 18px;
  height: 19px;
  margin: 0;
  border: none;
}

.card__button-remove:hover {
  scale: 1.2;
}
